body{
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    -webkit-backdrop-filter: blur(3px);
    margin-top: 25px;
    font-family: cursive;
    backdrop-filter: blur(3px);

}
.topbar{
        margin-left: 92px;
        width: 1100px;
        height: 80px;
        background: radial-gradient(rgba(255,255,255,0.6));
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
        border-radius: 20px;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);

}
nav{
    display: flex;
    padding: 12px 5px;
    
}
.logo{
    margin-top: 5px;
    color: #fff;
    font-size: 35px;
    float: left;
    cursor: pointer;

}
nav h1{
    margin-left: 40px;
}
/* 10 12 14 16 18 20 24 30 36 44 52 62 74 86 98 font-size */

/* 2 4  8 12 16 24 32 48 64 80 96 128 spacing  */
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin:0 20px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    transition: 0.2s ease;
}
nav ul li a:hover{
    color: #fff;
}
.bars{
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 20px;
}
.main{
    display: flex;
    margin: 20px;
}
.content{
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
    width: 930px;
    height:500px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding-left: 52px;
    margin-left:72px;
    border-radius: 20px;
}
h2{
    font-size: 35px;
    padding-top: 20px;
}
h4{
    font-size: 20px;
    color: #fff;
}
 p{
    color: #fff;
    padding-bottom: 30px;
}
button{
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    font-family: cursive;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.2s ease;
}
button:hover{
    background-color: orange;
}
.icons{
    margin-left: 35px;
    width: 80px;
    height: 500px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.social-icons ul li{
    list-style: none;
    margin-top: 55px;
    margin-left: -16px;
}
.social-icons ul li i{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    padding: 8px;
    transition: 0.2s ease;
    border-radius: 8px;
}
.social-icons ul li i:hover{
    background-color: #fff;
    color: #000;
}